{% extends "layout.twig" %}

{% block title %}Demo Home - Material Design 3 Button Playground{% endblock %}

{% block content %}
<div class="container">
    <h1>Material Design 3 Button Playground</h1>
    <nav>
        <ul>
            <li><a href="{{ path('button_demo') }}">Button Demo</a></li>
        </ul>
    </nav>
</div>
{% endblock %} 